* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background:  linear-gradient(315deg, #FFFFB5 70%, #247BA0 74%);
    
}

*, html {
    --primaryGradient:linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    /*--secondaryGradient:linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);*/
    --secondaryGradient:linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary:#1c7aba;
}



#navbar{
    position: relative;
    text-align: center;
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    color:white;
    list-style: none;
    font-size: 1.3rem;
    text-align: center;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;

}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}
  






#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height:460px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(1471682.jpg) no-repeat center center/cover;
    top:0;
    left:0;
    position: absolute;
    height:80%;
    width: 100%;
    z-index: -1;
    opacity: 0.59;
}
#home h1{
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
    text-decoration: underline;
    color: white;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#about{
    margin:34px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height:460px;
    justify-content: center;
    align-items: center;
}
#about h1{
    color: #0cbaba;
}
#about p{
    color: rgb(79, 21, 21);
    text-align: center;
    font-size: 1.5rem;
}

#about ul{
    display: inline-block;
}
#about ul li{
    color:black;
    list-style:disc;
    font-size: 1.3rem;
    text-align: center;
    float: left;
}
#about ul li a{
    color:black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;

}




.content h1{
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
    text-decoration: underline;
    color: #0cbaba;
}

.content p{
    text-align: justify;
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 50vh;
    margin-right: 60vh;
    color:black;
}


.site-footer-container{
    background-image:linear-gradient(rgb(0, 0, 6),rgb(57, 191, 236),rgb(201, 223, 102));
    opacity: 0.8;
    color:white;
    display: block;
    text-align:center;
}




/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
   
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.voice__button
{
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: auto;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
   /* background: #f9f9f9;*/
   /*background-color: #d5fefd;
   background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);*/
   background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);

    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background:var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color:blue;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    /*background-color: #5ca0f2;
background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);*/
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}